<div class="mb-3 ">
    <div class="card mb-4 shadow-sm" *ngIf="demonstrateService">
        <!-- <img class="icon" *ngIf="((heart) && (!hide3))" (click)="deleteFavourite()" src="/assets/heart-close.png">
        <img class="icon" *ngIf="((!heart) && (!hide3))" (click)="addFavourite()" src="/assets/heart-open.png" alt=""> -->
        <img (click)="onLinkService(service.id_service)" [src]="'http://localhost:3001/api/photo/' + service.filename" class="card-img-top" height="200" alt="kartinka">
        <div class="card-body">
          <p class="card-text h5" style="cursor: pointer;" (click)="onLink(service.id_service)">{{service.name}}</p>
          <p class="card-text h5 font-weight-normal">{{service.price}} ₽</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group" *ngIf="!hide2">
              <button type="button" class=" btn-sm btn btn-danger" (click)="onDeleteService(service.id_service)">Удалить</button> 
            </div>
            <div class="btn-group">
              <button type="button" class=" btn-sm btn btn-beauty" (click)="onRecordService()">Записаться к мастеру</button> 
            </div>
          </div>
        </div>
      </div>
</div>