<div class="container mt-5">
    <div class="d-flex justify-content-center">
        <form [formGroup]="recordFrom" class="w-50 card-beauty">
            <h3 class="d-flex justify-content-center">Записаться к мастеру</h3>
            <h5>Выбранная услуга: {{service.name}}</h5>
            <p>Выбранный мастер: {{master.fio}}
            <p>Указанный телефон: {{record.phone}}</p>
            <p>Выбранная дата: {{record.date}}</p>

            <div class="form-group">
                <label for="exampleInputPhone">Выберите время:</label>
                <select name="" [(ngModel)]="name_time"  class="form-control" formControlName="time" id="">
                    <option value="9">9:00</option>
                    <option value="10">10:00</option>
                    <option value="11">11:00</option>
                    <option value="12">12:00</option>
                    <option value="13">13:00</option>
                    <option value="14">14:00</option>
                    <option value="15">15:00</option>
                    <option value="16">16:00</option>
                    <option value="17">17:00</option>
                    <option value="18">18:00</option>
                    <option value="19">19:00</option>
                    <option value="20">20:00</option>
                </select>
            </div>

            <div *ngIf="!isEmpty" class="alert alert-danger">
                <span class="field-required">Одно или несколько полей пустые!</span>
            </div>

            <h5 class="text-success">Стоимость выбранной услуги: {{record.price}} рублей</h5>

            <div class="d-flex justify-content-center">
                <button (click)="onAddRecord()"  type="submit" class="btn btn-beauty">Записаться</button>
            </div>
            <h5 *ngIf="succes" class="text-success d-flex justify-content-center">Вы успешно записаны!</h5>
        </form>
    </div>
</div>
