<div *ngIf="loading" style="height: calc(100vh - 73px - 2rem);"
  class="container d-flex justify-content-center align-content-center">
  <div class="spinner-border txt-gray-bread m-auto" role="status">
    <span class="sr-only ">Loading...</span>
  </div>
</div>
<div *ngIf="!loading" class="container">
  <h2 class="mb-5 mt-5">Добавление нового мастера</h2>
  <h5 *ngIf="success" class="text-success alert alert-success" role="alert">Мастер успешно добавлен!</h5>
  <form [formGroup]="form" enctype="multipart/form-data">
    <div class="form-group">
      <label for="text">Введите ФИО мастера</label>
      <input (focus)="onSuccess()" formControlName="fio" type="text" class="form-control"
        id="fio">
    </div>
    <div class="form-group">
        <label for="text">Введите специализацию мастера</label>
        <select class="form-control" formControlName="id_specialization" [(ngModel)]="name_specialization">
          <option *ngFor="let specialization of specializations" [ngValue]="specialization.id_specialization">
           {{ specialization.name_specialization }}
          </option>
        </select> 

    </div>
    <div class="form-group">
      <label for="text">Введите начало время работы мастера</label>
      <input (focus)="onSuccess()" formControlName="start_schedule" type="number" min="0" max="23" class="form-control"
        id="start_schedule">
    </div>
    <div class="form-group">
      <label for="text">Введите окончание время работы мастера</label>
      <input (focus)="onSuccess()" formControlName="end_schedule" type="number" min="0" max="23" class="form-control"
        id="end_schedule">
    </div>
    <h5 *ngIf="!isEmpty" class="text-danger alert alert-warning" role="alert">Одно или несколько полей пустые!</h5>
    <button class="btn btn-success btn-block" (click)="onAddMaster()">Добавить</button>
    <br><br><br><br><br><br><br>

  </form>
</div>
<style>

</style>