<div class="container">
    <h2 class="mt-5 mb-3 d-flex justify-content-center">
        <span *ngIf="!hideAdmin">Панель администратора</span>
        <span *ngIf="!hideManager">Личный кабинет менеджера</span>
        <span *ngIf="!hideClient">Личный кабинет клиента</span></h2>
    <div *ngIf="!hideAdmin">
        <h3 class="mb-3">Управление персоналом: </h3>
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action "
                [routerLink]="['/list-user']">Список администраторов и менеджеров
            </button>
            <button type="button" class="list-group-item list-group-item-action"
                [routerLink]="['/masters']">Список мастеров салона красоты
            </button>
        </div>
        <h3 class="mt-3 mb-3">Управление каталогом услуг: </h3>
            <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action"
                [routerLink]="['/catalog']">Каталог услуг
            </button>
            <button type="button" class="list-group-item list-group-item-action"
            [routerLink]="['/list-specialization']">Список категорий оказываемых услуг
        </button>
        </div>
        <h3 class="mt-3 mb-3">Управление заявками и записями: </h3>
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action"
                [routerLink]="['/list-requests']">Список заявок на обратный звонок
            </button>
            <button type="button" class="list-group-item list-group-item-action"
                [routerLink]="['/list-records']">Список записей к мастерам
            </button>
        </div>
        <app-dashboard></app-dashboard>
    </div>
    <div *ngIf="!hideManager">
        <h3 class="mt-3 mb-3">Управление заявками и записями: </h3>
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action"
                [routerLink]="['/list-requests']">Список заявок на обратный звонок
            </button>
            <button type="button" class="list-group-item list-group-item-action"
                [routerLink]="['/list-records']">Список записей к мастерам
            </button>
        </div>
    </div>
    <div *ngIf="!hideClient">
        <h3 class="mt-3">Ваши записи: </h3>
        <div *ngIf="loading" style="height: calc(100vh - 73px - 2rem);" class="container d-flex justify-content-center align-content-center">
            <div  class="spinner-border txt-gray-bread m-auto" role="status">
                <span class="sr-only ">Loading...</span>
            </div>
        </div>
        <div class="container mt-4" *ngIf="!loading">
            <div *ngIf="!notfound; else blockNotFound" class="row mt-3 justify-content-md-start justify-content-lg-between justify-content-center  justify-content-xl-start">
                <app-record *ngFor="let record of records" [record]="record" (delete)="onDeleteRecord(record.id_record)" class="col-lg-3 col-xl-3 col-md-6 col-sm-12 col-xs-12"></app-record>
            </div>
            <ng-template #blockNotFound>
                <p class="font-weight-normal">К сожалению, вы не записывались ещё в наш салон красоты. Посетите каталог услуг и выберите желаемую услугу</p>
            </ng-template>
        </div>
    </div>
</div>
